#cvLayout { font-weight: bold; }

html 
{
    background-color: #999999;
}

body 
{
    color: white;
    background-color: darkorange;
    width: 1024px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
}

img
{
    width: 25%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.navigation 
{
    background-color: #00004d; 
    color: #FFFFFF; 
    padding: 0px;
    width: 100%;
    display: table;
}

.navigation ol 
{
    padding: 0px;
    margin: 0px;
}

.navigation a:visited 
{
     color: #ffffff; 
}

.navigation li 
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 33.3%;
    float: left;
}

.navigation li a 
{
    display: block;
}

.navigation li:hover 
{
    background-color: #3333ff; 
}

.navigation a:link 
{
    color: #ffffff; 
    text-decoration: none;
}


