#menu-outer 
{
    height: 84px;
}

.table 
{
	/*display: table;*/   /* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list 
{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

#horizontal-list li 
{
    display: inline;
}
